@model OnlineShop_v2.Models.CustomerModel
@using BotDetect.Web.Mvc;
@{
    Layout = null;
}

@{
    MvcCaptcha RegisterCaptcha = new MvcCaptcha("RegisterCaptcha");
    RegisterCaptcha.UserInputID = "CaptchaCode";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OnlineShop - Đăng ký tài khoản</title>

    <!-- Custom fonts for this template-->
    <link href="~/Asests/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
          rel="stylesheet" type="text/css" />
    <!-- Custom styles for this template-->
    <link href="~/Asests/Admin/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Tạo tài khoản!</h1>
                            </div>

                            @using (Html.BeginForm("Register", "Customer", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(false, null, new { @class = "alert alert-danger list-unstyled" })

                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control form-control-user", @id = "exampleInputEmail", @type = "text", @placeholder = "Nhập tên đăng nhập" })
                                    @Html.ValidationMessageFor(model => model.Username, null, new { @class = "text-danger" })
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        @Html.TextBoxFor(model => model.Password, new
                                        {
                                            @type = "password",
                                            @class = "form-control form-control-user",
                                            @id = "InputPassword",
                                            @placeholder = "Mật khẩu"
                                        })
                                        @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
                                    </div>

                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(model => model.ConfirmedPassword, new
                                        {
                                            @type = "password",
                                            @class = "form-control form-control-user",
                                               @id = "RepeatPassword",
                                            @placeholder = "Repeat Password"
                                        })
                                        @Html.ValidationMessageFor(model => model.Username, null, new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="checkbox" name="showpass" id="showPassCkb" />
                                    <label for="showpass">Hiển thị mật khẩu</label>
                                </div>

                                @*<div class="form-group">
                                    @Html.Captcha(RegisterCaptcha)
                                    @Html.TextBox("CaptchaCode")
                                </div>*@

                                <div class="form-group">
                                    <div class="">
                                        <input type="submit" value="Đăng ký" class="btn btn-primary btn-user btn-block" />
                                    </div>
                                </div>

                                <hr>

                                <div class="form-group">
                                    <div class="">
                                        <button type="submit" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i>
                                            Đăng nhập với google
                                        </button>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="">
                                        <button type="submit" value="Create" class="btn btn-facebook btn-user btn-block">
                                            <i class="fab fa-facebook-f fa-fw"></i>
                                            Đăng nhập với facebook
                                        </button>
                                    </div>
                                </div>
                            }
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/dang-nhap">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Asests/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Asests/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Asests/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Asests/Admin/js/sb-admin-2.min.js"></script>

    <script src="~/Asests/Client/js/ControllerJS/CustomerControllerJS.js"></script>


</body>

</html>
